

.title {   

    text-align: center;
    color: darkmagenta;
}

stacklayout.group {
    background-color: cornflowerblue;
}

.button {
    background-color: black;
    color: white;
}

entry {
    text-align: center;
    color: green;
}